<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="NGtests.T3_Payment"/>
      <class name="practiceTests.T1_FirstTestCase"/>
      <class name="practiceTests.T13_CheckoutAndPayment"/>
      <class name="practiceTests.T11_SwagLabs"/>
      <class name="practiceTests.T12_HomePage"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
